<article {% if loop.index %}id="post-{{ loop.index }}"{% endif %} class="clearfix {% if loop.index %}post-{{ loop.index }}{% endif %} post type-post format-standard has-post-thumbnail hentry category-featured">
  <div class="featured-image">
    {{ page.media.images|first.cropZoom(356,356).html }}
  </div>

  <header class="entry-header">
    <h3 class="entry-title">
      {% if page.header.link %}
      <a href="{{ page.header.link }}">{{ page.title }}</a>
      {% else %}
      <a href="{{ page.url }}">{{ page.title }}</a>
      {% endif %}
    </h3>
    {% if truncate %}
    <div class="entry-date">
      {{ 'MONTHS_OF_THE_YEAR'|ta(page.date|date('n') - 1) }} {{ page.date|date('d, Y') }}
    </div>
    {% endif %}

    {% if not truncate %}
    <div class="entry-meta">
      <span class="posted-on">Posted on
        <a href="{{ page.url }}" rel="bookmark">
          <time class="entry-date published" datetime="{{ 'MONTHS_OF_THE_YEAR'|ta(page.date|date('n') - 1) }} {{ page.date|date('d, Y') }}">
            {{ 'MONTHS_OF_THE_YEAR'|ta(page.date|date('n') - 1) }} {{ page.date|date('d, Y') }}
          </time>
        </a>
      </span>
      <span class="byline"> by
        <span class="author vcard">
          {{ page.header.author }}
        </span>
      </span>
    </div>
    {% endif %}

  </header>

  <div class="entry-content">
    {% if page.header.continue_link is sameas(false) %}
    <p>{{ page.content }}</p>
    {% if not truncate %}
    {% set show_prev_next = true %}
    {% endif %}
    {% elseif truncate and page.summary != page.content %}
    <p>
    {{ page.summary|striptags }}
    <a href="{{ page.url }}">more...</a>
    </p>
    {% elseif truncate %}
    <p>
    {{ page.content|truncate(550)|striptags }}
    <a href="{{ page.url }}">more...</a>
  </p>
    {% else %}
    <p>{{ page.content }}</p>
    {% set show_prev_next = true %}
    {% endif %}

    {% if show_prev_next %}

    <p class="prev-next">
      {% if not page.isFirst %}
      <a class="button" href="{{ page.nextSibling.url }}"><i class="fa fa-chevron-left"></i> Next Post</a>
      {% endif %}

      {% if not page.isLast %}
      <a class="button" href="{{ page.prevSibling.url }}">Previous Post <i class="fa fa-chevron-right"></i></a>
      {% endif %}
    </p>
    {% endif %}

  </div>

  <footer class="entry-footer clearfix">
    <span class="left">
      <a href="{{ page.url }}#comments"><i class="fa fa-comment"></i></a>
      <a href="{{ page.url }}"><i class="fa fa-link"></i></a>
    </span>
    <span class="right">
      {% if page.taxonomy.tag %}
      <span class="tags-links">
        {% for tag in page.taxonomy.tag %}
        <a href="{{ base_url }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}{% if not loop.last %},{% endif %}</a>
        {% endfor %}
      </span>
      {% endif %}
    </span>


  </footer>

</article>
